// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bourbon/bourbon";
@import "utils/responsive";

@import "vendor/owl/owl";
@import "vendor/slick/slick";

@import "base/general";

@import "modules/hero";


video {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    @include transform(translate(-50%, -50%));
  	transition: 1s opacity;
  	opacity: 1;

  	&.bg-vid-hidden {
  		opacity: 0;
  	}
}


.bmw-hero {
	height: 100vh;
	width: 100%;
	background-color: #fff;
	background-image: url('../images/hero.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: fixed;


	.video-bg {
		width: 100%;
	    overflow: hidden;
	    position: absolute;
	    height: 100vh;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}

	.video-js {
		height: 100%;
		width: 100%;
	}

	.vjs-loading-spinner {
		display: none !important;
	}

	.bmw-brand {
		float: right;
	}
}

.tel {
	margin-top: 30px;
	&-num {
		font-size: rem(20);
		font-weight: bolder;
		color: #fff;
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	.fb-like {
		display: inline-block;
		vertical-align: middle;
	}
}

.hero-nav {
	a {
		font-size: rem(13);
		text-decoration: none;
		color: #fff;

		&:hover {
			border-bottom: 1px dashed;
		}
	}
}

.heading-text {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 10;

	&-1 {
		font-size: rem(28);
		font-weight: bold;
	}

	&-2 {
		font-size: rem(36);
		font-weight: bold;
	}

	&-3 {
		font-size: rem(20);
		font-weight: bold;
	}
}

.bmw-brand {

	@include MQM(SM) {
		float: none;
		text-align: center;
	}


	.bmw-brand-l, .bmw-brand-r {
		background-color: #fff;
		height: 125px;
		width: 125px;
		display: inline-block;
		position: relative;
		text-decoration: none;

		.country {
			position: absolute;
			top: 15px;
			left: 10px;
			font-size: rem(12);
			font-weight: bold;
			color: #000;
		}

		.web {
			position: absolute;
			bottom: 15px;
			left: 10px;
			font-size: rem(12);
			font-weight: bold;
			color: #808080;
		}

		.logo {
			position: absolute;
			top: 15px;
			left: 50%;
			height: 65px;
			width: 65px;
			@include transform(translateX(-50%));

			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.slogan {
			position: absolute;
			bottom: 15px;
			left: 50%;
			font-size: rem(12);
			font-weight: bold;
			color: #000;
			text-align: center;
			line-height: 1;
			width: 100%;
			@include transform(translateX(-50%));
		}


	}
}


.bmw-content {
	margin-top: 100vh;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 30;

}

.bmw-card {
	height: 193px;
	box-shadow: 0px 0px 17px -5px #000;
	@include transform(translateY(-62px));
	background-color: #fff;
	padding: 15px 10px 0;
	overflow: hidden;

	@include MQM(MD) {
		@include transform(translateY(0));
		margin-top: 10px;
	}
	
	hr {
		border-color: #CBCBCB;
		margin-top: 11px;
		margin-bottom: 35px;
	}

	.title {
		font-size: rem(15);
		text-transform: uppercase;
		font-weight: bold;
		line-height: rem(18);
		height: 36px;
		color: #000;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.text {
		font-size: rem(14);
		line-height: rem(16);
		height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.btn {
	height: 40px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;

    &:hover, &:active, &:focus {
    	color: #fff;
    }
}


.btn-blue {
	background-color: #1C62C5;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=#1c62c5, endColorstr=#1f72e4)";
    background-image: -webkit-linear-gradient(#1C62C5,#1F72E4);
    background-image: -moz-linear-gradient(#1c62c5,#1f72e4);
    background-image: linear-gradient(#1C62C5,#1F72E4);
    margin: 0 30px 0 0;

    &:hover {
    	background-color: #1F72E4;
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=#1f72e4, endColorstr=#1c62c5)";
	    background-image: -webkit-linear-gradient(#1f72e4,#1c62c5);
	    background-image: -moz-linear-gradient(#1f72e4,#1c62c5);
	    background-image: linear-gradient(#1f72e4,#1c62c5);
    }
}

.ind-manager {
	

	@include MQ(LG) {
		padding: 0 60px;
	}

	.btn {
		margin-top: 30px;
	}

	h1 {
		margin-top: 0;
   		margin-bottom: 30px;

   		@include MQM(MD) {
   			margin-top: 30px;
   		}
	}
}

.ind-manager-imgs {
	img {
		margin-top: 20px;
		width: 100%;
	}

	.margined {
		position: relative;
		height: 10px;

		

		@media only screen and (max-width : 1360px) {
            & {
            	display: none;
            }
        }
	}

	.img-block {
		position: absolute;
		top: -195px;
		width: 16.6%;

		@media only screen and (max-width : 1580px) {
            & {
            	top: -144px;
    			width: 15.6%;
            }
        }

		&:first-child {
			left: 0;
		}
		&:last-child {
			right: 0;
		}
	}
}

.innovation {
	h1 {
		margin-top: 50px;
		margin-bottom: 10px;

		&+h3 {
			margin-top: 0;

		}
	}

	p, img {
		margin-top: 20px;
	}

	p {
		line-height: rem(19);
	}


}

.bmw-player {
	position: relative;
	display: block;
	width: 100%;

	img:first-child {
		width: 100%;
	}

	&:hover {
		.play-btn {
			height: 100px;
			width: 100px;
		}
	}

	.play-btn {
		height: 90px;
		width: 90px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		@include transition(all 0.2s ease-in-out);
	}	
}


.bmw-slider-wrap {
	margin-top: 60px;
	position: relative;

	& > .contain {
		position: absolute;
		top: 20px;
		z-index: 5;
		left: 50%;
		@include transform(translateX(-50%));

		color: #fff;
		font-weight: bold;
	}

	& > .contain-2 {
		position: absolute;
		bottom: 0;
		z-index: 5;
		left: 50%;
		@include transform(translateX(-50%));

		color: #fff;
		font-weight: bold;

		.text-box {
			padding: 20px;
			height: 180px;
			width: 433px;
			color: #fff;
			font-weight: 400;
			background-color: rgba(0,0,0,.7);
		}
	}


}

.bmw-slider {
	width: 100%;

	.item {
		height: 660px;
		width: 100%;
		position: relative;

		img {
			position: relative;
		    width: 100%;
		    top: 50%;
		    @include transform(translateY(-50%));
		}
	}
}

.bwm-gallery {

	h1 {
		margin-top: 50px;
		margin-bottom: 20px;
	}
}

.bmw-details {
	h1 {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	p {
		font-size: rem(14);
		line-height: rem(16);
	}

	.title {
		margin-top: 10px;
		color: #000;
	}

	img {
		width: 100%;
	}
}

.bmw-footer {
	padding: 30px 20px 0;
	background-color: #F5F5F5;
	border-top: 1px solid #ccc;

	.bmw-brand {
		margin-bottom: 20px;
	}

	.col-md-4 > img {
		margin-top: 20px;
    	margin-bottom: 32px;
	}

	.btn-blue {
		margin-top: 20px;
	}

	p {
		font-size: rem(13);
	}

	.copy {
		color: #808080;
	}
}

.bmw-contact-form {
	padding-bottom: 30px;
}

.contact-form {
	.radio {
		display: inline-block;
	}

	.form-control {
		margin-bottom: 10px;
	    height: 40px;
	    padding: 0px 12px;
	    font-size: rem(16);
	    line-height: rem(40);
	    color: #555555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #808080;
	    border-radius: 0px;
	    box-shadow:none;
	    position: relative;
	}

	select.form-control {
		-webkit-appearance: none;
	   	-moz-appearance:    none;
	   	appearance:         none;
	}

	.form-group {
		position: relative;

		&.select:after {
			content: "";
			position: absolute;
			top: 12px;
			right: 8px;
			width: 13px;
			height: 15px;
			background-image: url('../images/select.svg');
		}
	}

	.margin-top {
		margin-top: 20px;
	}



	.required:before {
		content: "*";
	    position: absolute;
	    top: 8px;
	    font-size: 18px;
	    left: -15px;
	    display: block;
	    line-height: 28px;
	    color: red;
    }

    .inline {
    	display: inline-block;
    	margin: 0 10px;
    }

    input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    color: #000;
	    font-family:Arial, sans-serif;
	    font-size:14px;
	    cursor: pointer;
	}
	input[type="radio"] + label span {
	    display:inline-block;
	    width:19px;
	    height:19px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    -moz-border-radius:  50%;
	    border-radius:  50%;
	    border: 1px solid #ccc;
	    background-color: #fff;
	}

	input[type="radio"] + label span {
	    position: relative;

	    &:after {
	    	content: "";
	    	position: absolute;
	    	height: 7px;
		    width: 7px;
		    border-radius: 50%;
		    background-color: transparent;
		    top: 5px;
		    left: 5px;
	    }
	}

	input[type="radio"]:checked + label span{
	     border-color:blue;

	     &:after {
		    background-color: blue;
	    }
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
	  -webkit-transition:all 0.2s linear;
	  -o-transition:all 0.2s linear;
	  -moz-transition:all 0.2s linear;
	  transition:all 0.2s linear;
	}
}